.calc-grid {
    width: 600px;
}

.display {
    font-size: 48px;
    color: white;
    width: 600px;
    text-align: right;
    font-weight: 300;
    height: 100px;
}

.zero {
    width: 190px;
}